name: pydaymet-tests
channels:
  - conda-forge
  - nodefaults
dependencies:
  - pip
  - setuptools
  - owslib
  - pyproj
  - defusedxml
  - requests
  - aiohttp
  - chardet
  - aiodns
  - brotlipy
  - nest-asyncio
  - xarray
  - scipy
  - netCDF4
  - geopandas
  - rasterio
  - shapely
  - orjson
  - simplejson
  - lxml
  - dask
  - pip:
    - git+https://github.com/cheginit/pygeoogc.git
    - git+https://github.com/cheginit/pygeoutils.git
    - git+https://github.com/cheginit/py3dep.git
